.bg-red {    background-color: firebrick;}
#innerBody{ margin-left:1%;}

#midBar {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
border-color:#000;
border:solid;
float:left;
}
#horz{margin-top:3%;height:3px;background-color:black;width:32%;margin-left:10%;
float:left;}
#horz2{margin-top:3%;height:3px;background-color:black;width:32%;;
float:left;}

#hav{float:left;margin-top:8%;margin-left:5%;}
#wanna{float:left;margin-top:8%;margin-left:15%;}

#okepoke{margin-top:30%;}

#leftP{
	float:left;height:30%;width:20%;margin:top:10%;margin-left:5%;
}

#rightP{
	float:right;height:30%;width:20%;margin:top:10%;margin-right:5%;
	
}/*float:right;border:solid;height:30%;width:20%;margin:top:10%;margin-right:5%;*/

#middy{ margin-left:20%;font-size:30px;font-family: Calibri, sans-serif}
/*line-height:80px;
*/
#midBar:hover {cursor:pointer;background-color:	#C0C0C0;}

#midBar:active{background-color: lightgrey;}

.bottomIsh {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: black;
   width: 100%;
   }