#innerBody{margin-left:1%;font-size: 20px;}

#hav{float:left;margin-top:8%;margin-left:20%}
#wanna{float:left;margin-top:8%;margin-left:32%}

 body {
  background-image: url('../images/ballcenter.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #212529;
   color: white;
   text-align: center;
   padding:1% 0% 1% 1%;
}

.bg-red{
	background-color: firebrick;
}

#endOfToast{margin-top:30%;}
#clearly{margin-left:75%;}
#toastTop{font-size: 18px;margin-left: 20%; text-decoration: underline;};


