<!DOCTYPE html>
<html>
<body>
<!-- Jquery --> 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 

<script>

$(document).ready(function() {
  $('#inPut').click(function() {
  	var FLname =  "<br>" +
  		$('#searchField').val() + " ";

    $('#outPut').append(FLname);
    
  });
 
});		
</script>

<p>Click the button to display an alert box.</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
var textInput = "Hello";
  alert(textInput);
}
</script>


<input type="text" id="searchField" placeholder="Search without Spaces">

</body>
</html>
